@import url('https://fonts.googleapis.com/css2?family=Enriqueta:wght@700&display=swap');

body{
    background-color: white;
    margin: 0;
}

h1{
font-family: 'Enriqueta';
font-size: 10.75em;
color: 565656;
}

h2{
font-family: 'Enriqueta';
font-size: 5.5625em;
color: 202020;
}


.BannerSam{
    display: flex;
    background-image: url("src/Sam Banner Image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
}